<li [ngClass]="{ editing: isEditingMode }">
  <div class="view">
    <input
      type="checkbox"
      class="toggle"
      [checked]="todo.isCompleted"
      (change)="toggleTodo()"
    />
    <label (dblclick)="setTodoInEditMode(todo.id)">{{ todo.text }}</label>
    <button class="destroy" (click)="removeTodo(todo.id)"></button>
  </div>
  <ng-container *ngIf="isEditingMode">
    <input
      #editTextInput
      type="text"
      class="edit"
      [value]="editingText"
      (keyup)="changeText($event)"
      (keyup.enter)="updateTodo(todo.id)"
    />
  </ng-container>
</li>
