<section class="main" [hidden]="noTodos$ | async">
  <input
    type="checkbox"
    id="toggle-all"
    class="toggle-all"
    [checked]="isAllTodosSelected$ | async"
    (change)="toggleAllTodos($event)"
  />
  <label for="toggle-all">Mark all as completed</label>
  <ul class="todo-list">
    <app-todo
      *ngFor="let todo of visibleTodos$ | async"
      [todo]="todo"
      [isEditing]="isEditingMode === todo.id"
      (setEditingId)="setEditingId($event)"
    ></app-todo>
  </ul>
</section>
